* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-flow: wrap;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  top: 0;
}

.trybewarts-header-logo {
  width: 80px;
}

.trybewarts-login {
  display: flex;
  height: 40px;
}

#trybewarts-header-title {
  align-content: center;
  color: white;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

.main {
  display: flex;
  justify-content: space-around;
}

#trybewarts-forms-logo {
  height: 500px;
}

.section-form {
  margin: 5px;
  display: flex;
}

#label-family {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.radio {
  display: flex;
}

.radio-buttons {
  display: contents;
}

#label-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

#section-1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin: 10px;
}

.familia {
  width: 350px;
  height: 150px;
}

.conteudo {
  width: 350px;
  height: 150px;
}

.checkbox {
  margin: 3px;
  width: 100px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-around;
}
